@font-face {
  font-family: 'social-icons';
  src:
          url('../fonts/social-icons.ttf?p3676z') format('truetype'),
          url('../fonts/social-icons.woff?p3676z') format('woff'),
          url('../fonts/social-icons.svg?p3676z#social-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

i, .icomoon-liga {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'social-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.si-viber:before {
  content: "\e900";
}
.si-whatsapp:before {
  content: "\ea93";
}
.si-mail:before {
  content: "\f0e0";
}
.si-telegram:before {
  content: "\f1d8";
}
.si-pinterest:before {
  content: "\f231";
}
.si-twitter:before {
  content: "\f099";
}
.si-facebook:before {
  content: "\f09a";
}
.si-google-plus:before {
  content: "\f0d5";
}
.si-linkedin:before {
  content: "\f0e1";
}
.si-vk:before {
  content: "\f189";
}

